#############################
# Common configurations
#############################

TZ=America/Sao_Paulo

DOMAIN=home.arpa

CONFIG_DIR=/srv/docker/config

BACKUP_DIR=/home/user/backups
DATA_DIR=/mnt/storage

DOCUMENT_DIR=/mnt/storage/documents
PHOTOS_THUMBS_DIR=/mnt/storage/photos/thumbs
PHOTOS_DIR=/mnt/storage/photos

#############################
# Ports
#############################

#############################
# App Specific
#############################

# KOMODO
COMPOSE_KOMODO_IMAGE_TAG=2
KOMODO_DATABASE_USERNAME=admin
KOMODO_DATABASE_PASSWORD=# generate with <openssl rand -base64 36 | tr -dc 'A-Za-z0-9'>
KOMODO_HOST=https://komodo.home.arpa
KOMODO_TITLE=Komodo
KOMODO_PERIPHERY_PUBLIC_KEY=file:/config/keys/periphery.pub
KOMODO_LOCAL_AUTH=true
KOMODO_INIT_ADMIN_USERNAME=admin
KOMODO_INIT_ADMIN_PASSWORD=# generate with <openssl rand -base64 36 | tr -dc 'A-Za-z0-9'>
KOMODO_FIRST_SERVER_NAME=Local
KOMODO_DISABLE_CONFIRM_DIALOG=false
KOMODO_DISABLE_INIT_RESOURCES=false
KOMODO_DEFAULT_PAGINATION_LIMIT=50
KOMODO_WEBHOOK_SECRET=# generate with <openssl rand -base64 36 | tr -dc 'A-Za-z0-9'>
KOMODO_JWT_SECRET=# generate with <openssl rand -base64 36>
KOMODO_JWT_TTL=1-day
KOMODO_MONITORING_INTERVAL=15-sec
KOMODO_RESOURCE_POLL_INTERVAL=1-hr
KOMODO_DISABLE_USER_REGISTRATION=false
KOMODO_ENABLE_NEW_USERS=false
KOMODO_DISABLE_NON_ADMIN_CREATE=false
KOMODO_TRANSPARENT_MODE=false
KOMODO_OIDC_ENABLED=false

# KOMODO - OAuth (optional)
KOMODO_GITHUB_OAUTH_ENABLED=false
# KOMODO_GITHUB_OAUTH_ID=
# KOMODO_GITHUB_OAUTH_SECRET=
KOMODO_GOOGLE_OAUTH_ENABLED=false
# KOMODO_GOOGLE_OAUTH_ID=
# KOMODO_GOOGLE_OAUTH_SECRET=

# KOMODO - Logging
KOMODO_LOGGING_PRETTY=false
KOMODO_PRETTY_STARTUP_CONFIG=false

# KOMODO - Periphery
PERIPHERY_CORE_ADDRESS=ws://komodo-core:9120
PERIPHERY_CONNECT_AS=${KOMODO_FIRST_SERVER_NAME}
PERIPHERY_CORE_PUBLIC_KEYS=file:/config/keys/core.pub
PERIPHERY_ROOT_DIRECTORY=/etc/komodo
PERIPHERY_DISABLE_TERMINALS=false
PERIPHERY_DISABLE_CONTAINER_TERMINALS=false
PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname
# PERIPHERY_EXCLUDE_DISK_MOUNTS=/snap,/etc/repos
PERIPHERY_LOGGING_PRETTY=false
PERIPHERY_PRETTY_STARTUP_CONFIG=false
